@font-face {
    font-family: Consolas;
    src: url("../fonts/consolas.ttf");
}

body {
    background: #2e313d;
    font-family: Consolas, sans-serif;
}

header img {
    margin-top: 30px;
}

#game_name {
    color: #f1f1f1;
    font-size: 14px;
    border-radius: 20px;
    background: #2c2e3a;
    width: 140px;
    padding: 4px;
    margin: 10px auto 0 auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}

header ul {
    color: #f1f1f1;
    font-size: 24px;
    list-style: none;
    width: 600px;
    margin: auto;
    padding: 0;
}

header li {
    width: 140px;
    border-radius: 40px;
    border: 1px solid #45495b;
    padding: 8px 0 8px 0;
    text-align: center;
    float: left;    
    margin: 40px 0 45px 87px;
}

#start_stop {
	text-decoration: underline;
}

header li:first-child {
    margin-left: 0px;
}

#level:hover, #start_stop:hover, #module_window ul li:hover {
    cursor: pointer;
    background: #24262f;
    transition: background 0.5s linear;
}

main {
    clear: both;
}

header, main, footer {
    text-align: center;
}

#module_window {
    width: 300px;
    height: 450px;
    background: #2e313d;
    opacity: .9;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, .7);
    
    position: absolute;
    z-index: 100;
}

#screen_dark {
    width: 726px;
    height: 325px;
    background: #24262f;
    opacity: .7;
    
    position: absolute;
    z-index: 99;
}

#module_window, #screen_dark {
	display: none;
}

#module_window h2 {
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 100;
}

#module_window ul {
    color: #f1f1f1;
    font-size: 18px;
    list-style: none;
    margin: auto;
    padding: 0;
}

#module_window li {
    width: 140px;
    border-radius: 30px;
    border: 1px solid #45495b;
    padding: 8px 0 8px 0;
    text-align: center;    
    margin: 20px auto 20px auto;
}

.time_record {
	font-size: 14px;
    color: #afe66e;
}

footer {
    margin-top: 60px;
}

#canvas {
    /*border-top: 1px solid #45495b;
    box-shadow: 0px 40px 100px rgba(0, 0, 0, .6);*/
}

